@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slider-img {
    transition: translate 300ms ease-in-out;
}

.slider-btn {
    /* all: unset; */
    color: white;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    padding: 1rem;
    cursor: pointer;
    transition: background-color 100ms ease-in-out;
}

.slider-btn:hover,
.slider-btn:focus-visible {
    background-color: rgb(0, 0, 0, 0.2);
}

.slider-btn > * {
    /* stroke: black; */
    /* fill: white; */
    width: 2rem;
    height: 2rem;
}

.slider-btn:hover > * {
    scale: 1.2;
    transition: scale 100ms ease-in-out;
}

.slider-dot {
    /* all: unset; */
    color: white;
    display: block;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    transition: scale 100ms ease-in-out;
}

.slider-dot:hover,
.slider-dot:focus-visible {
    scale: 1.1;
}

.slider-dot > * {
    /* stroke: white; */
    /* fill: black; */
    height: 100%;
    width: 100%;
}

.footer-li::before {
    content: '›';
    margin-right: 1rem;
}
